.contact-section {
    padding: 100px 0;

    form {
        margin-top: 50px;
    }

    .textfield {
        padding-bottom: 20px;
    }

    button {
        margin-top: 25px;
    }
}
.contact-map {
    position: relative;

    iframe {
        display: block;
        height: 700px;
        width: 100%;
        -webkit-filter: contrast(1.5);
        filter: contrast(1.5);
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(48, 65, 110, 0.4);
        pointer-events: none;
    }
}


